$purple: #3949AB;
$white: #ffffff;
$white-darken: #dddddd;
$black: #000000;
$gray: #222222;
$gray-lighten: #727272;

$transition: .35s;

$font-size-base: 1rem;

$font-weight-regular: 400;
$font-weight-bold: 700;